<p-toast position="bottom-right"></p-toast>
<div class="container">
  <button class="btn btn-primary" (click)="usersService.navigateToUsersPage()">Go back</button>
  <form (ngSubmit)="onSubmitHandler()" #editForm="ngForm" class="mx-5 mt-5 border border-secondary p-3" novalidate>
    <h6 class="login-title">Edit user</h6>
    <div class="form-group">
      <input [(ngModel)]="user.name" name="name" type="text" class="form-control" placeholder="Enter name" #name="ngModel" ng-value="user.name" required>
      <div class="invalid-feedback" [hidden]="name.valid || name.pristine">* Name is required</div>
    </div>
    <div class="form-group">
      <input [(ngModel)]="user.username" name="username" type="text" class="form-control" placeholder="Enter username" #username="ngModel" ng-value="user.username" required>
      <div class="invalid-feedback" [hidden]="username.valid || username.pristine">* Username is required</div>
    </div>
    <div class="form-group">
      <input [(ngModel)]="user.email" name="email" type="email" class="form-control" placeholder="Enter email" #email="ngModel" ng-value="user.email" required email>
      <div class="invalid-feedback" [hidden]="email.valid || email.pristine">* Email is required</div>
    </div>
    <div class="mb-2 d-flex justify-content-end">
      <button [disabled]="editForm.invalid" class="submit btn btn-outline-info btn-sm">Save changes</button>
    </div>
  </form>  
</div>